<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="container">
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="divider-vertical"></li>
        <li {% if page.active == 'home' %}class='active'{% endif %}><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
        <li class="divider-vertical"></li>
        <li {% if page.active == 'quickstart' %}class='active'{% endif %}><a href="quickstart.html"><i class="fa fa-bolt"></i> Quickstart</a></li>
        <li class="divider-vertical"></li>
        <li {% if page.active == 'api' %}class='active'{% endif %}><a href="api.html"><i class="fa fa-book"></i> API documentation</a></li>
        <li class="divider-vertical"></li>
        <li {% if page.active == 'faq' %}class='active'{% endif %}><a href="faq.html"><i class="fa fa-question"></i> FAQ</a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university"></i> Developer resources <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/jbdemonte/angular-google-maps-native/issues" target="_blank"><i class="fa fa-bug"></i> Issue tracker</a></li>
            <li><a href="https://developers.google.com/maps/documentation/javascript/" target="_blank"><i class="fa fa-question-circle"></i> Google Maps Javascript API v3</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section class="page-header">
  <h1 class="project-name">angular-google-maps-native</h1>
  <h2 class="project-tagline">AngularJS directives for the Google Maps Javascript API using the native way</h2>
  <a href="https://github.com/jbdemonte/angular-google-maps-native" class="btn">View on GitHub</a>
  <a href="https://github.com/jbdemonte/angular-google-maps-native/zipball/master" class="btn">Download .zip</a>
  <a href="https://github.com/jbdemonte/angular-google-maps-native/tarball/master" class="btn">Download .tar.gz</a>
  <p class="badges">
    <a href="https://npmjs.org/package/angular-google-maps-native"><img src="https://camo.githubusercontent.com/b8ac283c99a0f3f51b5b9f07e7c2af1cd4785968/68747470733a2f2f62616467652e667572792e696f2f6a732f616e67756c61722d676f6f676c652d6d6170732d6e61746976652e737667" alt="NPM version" data-canonical-src="https://badge.fury.io/js/angular-google-maps-native.svg" style="max-width:100%;"></a>
    <a href="http://travis-ci.org/jbdemonte/angular-google-maps-native"><img src="https://camo.githubusercontent.com/24b9127ab3d937aef1c4e43ccf8253cc8ba9cb0c/68747470733a2f2f7365637572652e7472617669732d63692e6f72672f6a6264656d6f6e74652f616e67756c61722d676f6f676c652d6d6170732d6e61746976652e706e673f6272616e63683d6d6173746572" alt="Build Status" data-canonical-src="https://secure.travis-ci.org/jbdemonte/angular-google-maps-native.png?branch=master" style="max-width:100%;"></a>
    <a href="https://coveralls.io/github/jbdemonte/angular-google-maps-native?branch=master"><img src="https://camo.githubusercontent.com/705736c0a391825984966e647376daa946fa99a4/68747470733a2f2f636f766572616c6c732e696f2f7265706f732f6a6264656d6f6e74652f616e67756c61722d676f6f676c652d6d6170732d6e61746976652f62616467652e7376673f6272616e63683d6d617374657226736572766963653d676974687562" alt="Coverage Status" data-canonical-src="https://coveralls.io/repos/jbdemonte/angular-google-maps-native/badge.svg?branch=master&amp;service=github" style="max-width:100%;"></a>
  </p>
</section>