<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <style>gm-map {display: block; width: 100%; height: 300px;}</style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../angular-google-maps-native.min.js"></script>
    <script>angular.module('MyApp', ['GoogleMapsNative']);</script>
  </head>
  <body ng-init="data={}">
  <label><input type="checkbox" ng-model="showMarker"> Show the marker</label>

  <gm-map options="{center: [37, -122], zoom: 4, mapTypeId: google.maps.MapTypeId.ROADMAP}">
    <gm-marker
      ng-show="showMarker" options="{position: map.getCenter(), draggable: true}"
      on-dragend="data.position = marker.getPosition()"
    ></gm-marker>
  </gm-map>

  <div ng-if="data.position">
    Drag on ({{data.position.lat()}}, {{data.position.lng()}})
  </div>

  </body>
</html>