---
layout: api-snippets
---
{% raw %}
<body ng-init="data={}">
<label><input type="checkbox" ng-model="showMarker"> Show the marker</label>

<gm-map options="{center: [37, -122], zoom: 4, mapTypeId: google.maps.MapTypeId.ROADMAP}">
  <gm-marker
    ng-show="showMarker" options="{position: map.getCenter(), draggable: true}"
    on-dragend="data.position = marker.getPosition()"
  ></gm-marker>
</gm-map>

<div ng-if="data.position">
  Drag on ({{data.position.lat()}}, {{data.position.lng()}})
</div>

</body>
{% endraw %}